# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Europa/v15/
.vs/

#folders
**/Vendor/
**/bin-int/
Europa/**/Vendor/
bin/Debug-windows-x86_64/Game/imgui.ini
bin/Debug-windows-x86_64/Game/Game.zip
bin/Debug-windows-x86_64/Game/Game.pdb
bin/Debug-windows-x86_64/Game/Game.ilk
bin/Debug-windows-x86_64/Europa/Europa.pdb
bin/Debug-windows-x86_64/Europa/Europa.ilk
bin/Debug-windows-x86_64/Europa/Europa.idb
bin/Debug-windows-x86_64/Europa/Europa.exp
bin-int/Debug-windows-x86_64/Game/vc141.pdb
bin-int/Debug-windows-x86_64/Game/vc141.idb
bin-int/Debug-windows-x86_64/Game/Game.tlog/link.write.1.tlog
bin-int/Debug-windows-x86_64/Game/Game.tlog/link.read.1.tlog
bin-int/Debug-windows-x86_64/Game/Game.tlog/link.command.1.tlog
bin-int/Debug-windows-x86_64/Game/Game.tlog/Game.lastbuildstate
bin-int/Debug-windows-x86_64/Game/Game.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/Game/Game.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/Game/Game.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/Game/Game.log
bin-int/Debug-windows-x86_64/Europa/vc141.pdb
bin-int/Debug-windows-x86_64/Europa/vc141.idb
bin-int/Debug-windows-x86_64/Europa/imguilayer.obj.enc
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.write.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.read.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.delete.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.command.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.7920.delete.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.16964.delete.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/link.15836.delete.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/Europa.write.1u.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/Europa.lastbuildstate
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/Europa/Europa.log
bin-int/Debug-windows-x86_64/Europa/Europa.Build.CppClean.log
*.ini
