[submodule "Europa/vendor/spdlog"]
	path = Europa/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Europa/vendor/GLFW"]
	path = Europa/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Europa/vendor/glm"]
	path = Europa/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Europa/vendor/imgui2"]
	path = Europa/vendor/imgui2
	url = https://github.com/TheCherno/imgui
