# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Europa/v15/
.vs/

#folders
**bin-int/
**bin/
Vendor/
bin/Debug-windows-x86_64/Game/imgui.ini
bin/Debug-windows-x86_64/Europa/Europa.pdb
bin/Debug-windows-x86_64/Game/Game.ilk
*.pdb
*.tlog
*.log
*.lastbuildstate
*.pdb
